/* Загальні стилі */
.registration__form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image__accomodation {
  background-image: url("../img/accomodation__back_for_form.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__accomodation {
  width: 650px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media only screen and (max-width: 767px) {
  .container__accomodation {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  input[type="text"],
  input[type="tel"],
  select {
    font-size: 16px;
    padding: 10px;
  }
}


.container__button-registerbtn {
  background-color: #f98250;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  transition: background-color 0.3s ease-in-out;
  border-radius: 20px;
  font-size: 18px;
}

.container__button-registerbtn:hover {
  opacity: 1;
  background-color: rgb(89, 150, 115);
}
