@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    --font-standard-color: #282520;
    --form-bg-color: #fff;
    --classic-white: #fff;
    --bottom-border-tabs-nav-color: #d9d9d6;
    --form-submit-button-bg-color: #f98250;
    --form-submit-button-hover-bg-color: rgb(89, 150, 115);
    --form-input-bg-color: rgba(40, 37, 32, 0.12);
    --form-input-text-color: #848484;
    --form-input-border-color: #599673;
    --form-input-header-color: #282520;
    --form-content-box-shadow-color: rgba(0,0,0,.05);
    --form-adventures-text-color: #848484;
}

img {
    width: 100%;
    display: block;
}

.container {
    margin: 0 auto;
}
