header {
  margin: 0;
}

.header__container {
  margin: 20px auto;
  padding: 30px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: calc(100% + 20px);
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  display: block;
  overflow-wrap: break-word;
  box-sizing: border-box;
  width: 211px;
  height: 89px;
}

.header__adress {
  display: flexbox;
  text-align: center;
  color: #282520;
  line-height: 1.18;
  font-size: 16px;
  font-feature-settings: normal;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: -0.021em;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-stretch: 100%;
}
.header__contacts a {
  color: var(--activity-price-color);
}

.header__nav {
  margin: -5px auto;
  align-items: center;
  color: rgb(40, 37, 32) !important;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
