.header__container {
  display: flex;
  flex: row;
  width: calc(100% + 20px);
  align-items: center;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  margin-top: -5px;
}

.header__logo {
  display: block;
  max-width: 300px;
}

.header__adress {
  display: block;
  text-align: center;
  color: #282520;
  line-height: 1.18;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-feature-settings: normal;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: -0.021em;
}

.header__contacts {
  display: flex;
  flex: columns;
  color: rgb(249, 130, 80) !important;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
}

.header__nav {
  margin: -5px -22.5px;
  align-items: flex-start;
  box-sizing: border-box;
  color: rgb(40, 37, 32) !important;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}
