.header__logo{
    display: block;
    position: relative;
    max-width: 100%;

}
.header__adress{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}