.header__container {
  display: flex;
  flex: row;
  justify-content: space-around;
  width: calc(100% + 20px);
  align-items: center;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  margin-top: -5px;
}

.header__logo {
  display: block;
  overflow-wrap: break-word ;
  box-sizing: border-box;
  max-width: 300px;
  ;

}

.header__adress {
  display: flexbox;
  text-align: center;
  color: #282520;
  line-height: 1.18;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-feature-settings: normal;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: -0.021em;
}

.header__contacts {
  display: flex;
  flex: column;
  text-decoration-color : rgb(249, 130, 80);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
}

.header__nav {
  margin: -5px -22.5px;
  align-items: center;
  
  color: rgb(40, 37, 32) !important;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex: row;
  justify-content: space-between;
  
}
