.contact {
  background-color: var(--how-to-get-contacts-bg-color);
  background-size: cover;
  box-sizing: border-box;
  background-image: url(../img/how-to-get-contacts-bg.jpg);
  background-position: 100% 70%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  justify-content: center;
}

.contact__container {
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  margin: 0 auto;
}

.contact__content {
  color: var(--classic-white);
  padding-left: 15px;
  padding-right: 15px;
}

h2.contact__title {
  font-family: "Circular Std Bold", sans-serif;
  font-size: 39px;
}

p.contact__description {
  font-size: 19px;
  margin-top: 25px;
}

.contact__subtitle {
  font-family: "Circular Std Bold", sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.contact__address {
  font-size: 16px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.contact__details {
  display: flex;
  flex-direction: column;
}

.contact__email,
.contact__phone {
  margin-bottom: 16px;
}

.contact__address a {
  color: var(--classic-white);
}

/* CSS for form */

.contact__form {
  background-color: var(--form-bg-color);
  border-radius: 14px;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 55px;
  padding-right: 55px;
  width: 100%;
  margin-top: 50px;
}

.contact__input {
  border-radius: 34px;
  text-align: center;
  background-color: var(--form-input-bg-color);
  border-width: 0;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  border: 0;
  margin-top: 12px;
  width: 100%;
}

.contact__input:focus {
  outline: auto;
  outline-color: var(--order-call-form-input-outline-color);
}

.contact__submit {
  color: var(--classic-white);
  border-radius: 34px;
  background-color: var(--form-submit-button-bg-color);
  font-size: 14px;
  border-width: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  margin-top: 56px;
  width: 100%;
}

.contact__submit:hover {
  background-color: var(--form-submit-button-hover-bg-color);
}

.overlaybg {
  position:fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.5);
  display: none;
  
}

.modal-window {
  color: black;
  background-color: var(--classic-white);
  min-width: 344px;
  margin: auto;
  padding-bottom: 65px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 43px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.tick-icon {
  width: 34px;
  height: 34px;
  margin: 0 auto 33px
}

.modal-window__message {
  margin-bottom: 42px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 42px;
  text-align: center;
}

.modal-window__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 1200;
  text-align: center;
}

.modal-window__button {
  width: 210px;
  height: 36px;  
  color: var(--classic-white);
  border-radius: 34px;
  background-color: var(--form-submit-button-bg-color);
  font-size: 12px;
  font-weight: 600;
  border-width: 0;
}

@media (min-width: 765px) {
  .contact__container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .contact__form {
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .contact__address {
    justify-items: center;
    margin-top: 45px;
  }

  .contact__form {
    margin-top: 0;
  }

  .contact__details {
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
  }

  .contact__details div {
    margin-bottom: 0;
    padding-left: 15px;
  }

  .contact__details {
    flex-direction: row;
  }

  .contact__subtitle {
    margin: 0;
    padding-right: 15px;
    width: 30%;
    display: inline-block;
  }  
}

@media (min-width: 990px) {
  .contact__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}