@import "global.css";
@import "fonts.css";


.container {
    margin: 0 auto;
}

.ordercall {
    background: url("../img/bg-order-a-call.jpg") 45.31% 26.32% / cover no-repeat, rgb(89, 150, 115);
    min-width: 320px;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}

.ordercall__inner {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}
.ordercall__content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
}
.ordercall__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 42%;
    margin-left: -15px;
}
.ordercall__grid:first-child {
    grid-column: 1;
}
.ordercall__grid:last-child {
    grid-column: 2;
}
.ordercall__item{
    flex-basis: 58%;
    max-width: 58%;
    width: 60%;
}
.ordercall__form-content{
    position: relative;
    max-width: 100%;
    flex-basis: 100%; 
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 5px 20px var(--form-content-box-shadow-color);
    background-color: var(--form-bg-color);
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
}

.ordercall__form-header{
    color: var(--form-input-header-color);
    font-size: 25px;
    font-family: 'Circular Std', sans-serif;
    line-height: 1.4;
    font-weight: 550;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}
.ordercall__form-text{
    color: var(--form-input-text-color);
    font-size: 16px;
    font-family:"Roboto", serif;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.6;
    font-weight: 400;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.form__inputs-block {
    margin-top: 30px;
}

.form__field {
    text-align: left;
    margin-bottom: 24px;
    width: 100%;
    
}
.form__field:last-of-type {
    margin-bottom: 0px;
}
.form__input {
    width: 100%;
    margin-top: 20px;
    display: block;
    border-radius: 34px;
    box-sizing: border-box;
    border-color: var(--form-input-border-color);
    background-color: var(--form-input-bg-color);
    box-shadow: none;
    border: 0;
    line-height: 1.2;
    border-radius: 34px;
    font-size: 14px;
    padding: 16px 24px;
}
.ordercall__form-submit-button {
    width: 100%;
    color: var(--classic-white);
    padding: 16px 24px;
    margin-top: 56px;
    border-radius: 34px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    background-color: var(--form-submit-button-bg-color);
}
.ordercall__form-submit-button:hover {
    width: 100%;
    color: var(--classic-white);
    padding: 16px 24px;
    margin-top: 56px;
    border-radius: 34px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    background-color: var(--form-submit-button-hover-bg-color);
}

.submit-button__text {
    color: var(--classic-white);
    margin-top: 5px;
    font-size: 14px;
    font-family:"Roboto", serif;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    word-wrap: break-word;
}

@media screen and (min-width: 992px) {
    .ordercall {
        padding-top: 140px;
        padding-bottom: 140px;
}}

@media screen and (min-width: 768px) {
    .ordercall {
        padding-top: 115px;
        padding-bottom: 115px;
}}

@media screen and (max-width: 767px){
    .ordercall {
        padding-top: 115px;
        padding-bottom: 115px;
    }
    .ordercall__grid {
        width: calc(100% + 30px);
        display: grid;
        grid-template-columns: auto;
        margin-left: -15px;
        margin-right: -15px;
    }
}
