.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.854);
}

.lightbox-modal__header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.413);
}

.lightbox-modal__image-wrapper {
  z-index: -100;
  margin: auto;
  margin-top: 27px;
  max-width: 90%;
  aspect-ratio: 2/1;
  max-height: 86%;
}

.lightbox-modal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lightbox-modal__toolbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 20px;
  top: 5px;
}

.lightbox-modal__toolbar-item {
  width: 40px;
  height: 40px; 
  border: none;
}

.lightbox-modal__zoomin-button {
  background: url("../img/adventure-lightbox/zoomin.svg") no-repeat center;
  opacity: 0.5;
}


.lightbox-modal__zoomout-button {
  background: url("../img/adventure-lightbox/zoomout.svg") no-repeat center;
  opacity: 0.5;
}

.lightbox-modal__close-button {
  background: url("../img/adventure-lightbox/close_button.svg") no-repeat center;
  opacity: 0.7;
}

.lightbox-modal__close-button:hover {
  opacity: 1;
}

.toolbar-button-hover {
  opacity: 0.7;
}

.toolbar-button-hover:hover {
  opacity: 1;
}
