.guests{
    min-width: 320px;
    /* max-width: 1900px; */
    padding: 100px  0px 0px;  
    width: 100%;
}

.guests {
    transition: transform 0.3s ease;  
}

.guests-background{
    
    background-image: url("../img/about_background_picture_with_annotetion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
}

.guests__title{
    font-family: "Circular Std Bold";
    font-size: 39px;
    color: var(--classic-white);
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.guests__carousel-items {
    display: flex; 
    justify-content: space-between; 
}

picture .guests__carousel-pic {
    display: block; 
    flex-grow: 0;
    max-width: 100%; 
    height: 284.45px; 
    overflow: hidden; 
    margin: 0 5px; 
    flex-shrink: 0;
}

.img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}


@media (min-width: 990px){
    .guests__title{
        font-size: 44px;
    }
}

@media (max-width: 760px){
    .guests__title{
        font-size: 34px;
    }
}
