@import "photo-gallery.tabs.partial.css";

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Circular Std Bold";
    background-image: url("../img/gallery/gallery-background.jpg");
    background-size: cover;
}

@media screen and (min-width: 992px){
    .gallery__title {
        font-size: 44px;
    }
}

@media screen and (min-width: 768px){
    .gallery__title {
        font-size: 39px;
    }
}

@media screen and (max-width: 767px){
    .gallery__title {
        font-size: 34px;
    }
}