@import "global.css";
@import "header.css";
@import "footer.css";


.rental_policies__title {
    text-align: center;
    font-family: "Circular Std Bold", serif;
    font-size: 19px;
}

.rental_policies__small_title {
    text-align: center;
    font-size: 19px;
}

.rental_policies__reference {
    display: block;
}

.rental_policies__icon_border {
    display: inline;
    min-width: 100px;

}
.rental_policies__icon_border svg {
    width: 100%;
}

.rental_policies__caption {
    font-family: "Circular Std Bold", serif;
    font-size: 18px;
}

.rental_policies__icon_text {
    display: flex;
}

.rental_policies__panel-list {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.rental_policies__block {
    display: flex;
    flex-direction: column;
}