.spa {
    margin: 80px, 24px;
}

.spa__title {
    font-size: 22px;
    font-family: "Circular Std Bold", inherit;
    padding-bottom: 10px;
    text-align: center;
}

.spa__text {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.spa__image {
    min-width: 320px;
    min-height: 90px;
}

.spa__image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

