.vacation {
  display: flex;
  flex-direction: column;
  background-image: url(../img/about_summer_background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  padding: 80px 24px;
}

.vacation__title-container {
  padding-bottom: 5px;
  line-height: 30px;
}

.vacation__title {
  font-size: 22px;
  font-family: "Circular Std Bold", serif;
}

.vacation__text-container {
  padding-bottom: 20px;
  line-height: 25px;
}

.vacation__text {
  font-family: "Roboto", sans-serif;
}

.vacation__list-container {
  font-family: "Roboto", sans-serif;
}

.vacation__list-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.vacation__svg-container {
  width: 20px;
  height: 20px;
}

.vacation__svg-container svg {
  fill: var(--about-checkbox-color);
  max-width: 100%;
  height: 100%;
}

.vacation__list-text {
  padding-left: 10px;
}

.vacation__img-container {
  margin-top: 40px;
  min-height: 240px;
  max-width: 715px;
  max-height: 645px;
}

.vacation__img-container img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media (min-width: 767px) {
    .vacation {
        flex-direction: row;
        align-items: start;
    }
    .vacation__img-container {
        padding-left: 30px;
    }
    .vacation__list-and-text-container {
        min-width: 400px;
    }
} */

@media (min-width: 767px) {
  .vacation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  .vacation__img-container img {
    object-fit: contain;
    border-radius: 10px;
  }
}
